{% set route_return = route_return is defined ? route_return : null %}
<div class="section-title d-flex justify-content-between align-items-center mb-4">
	<h2 class="mb-0">{{title}}</h2>
  {% if route_return %}
      {% include 'global/components/button/_btn_back.html.twig' with { route_return: route_return } %}
  {% endif %}

</div>
