<div class="navbar-section p-2 mb-1">
	<div class="sidebar-section-title mb-2">
		<span class="icon">{{ icon }}</span>
		{{ title }}
	</div>

	<ul class="nav flex-column">
		{% for group in groups %}
			{% for link in group.links %}
				<li>
					<a class="nav-link" href="{{ path(link.route) }}">{{ link.label }}</a>
				</li>
			{% endfor %}
		{% endfor %}
	</ul>
</div>
