{% extends 'base.html.twig' %}

{% block title %}Questionnaires
{% endblock %}

{% block body %}
<div class="container my-4">
	{% include 'global/partials/_page_header.html.twig' with {
    route_return: 'app_quiz_index',
    title: 'Questionnaires :'
    } %}

{% include 'global/components/table/_table.html.twig' with {
    items: quizzes,
    columns: ['name', 'description'],
    headers: ['Nom', 'Description'],
    filter: true,
    sort: true,
    actions: {
        show: {
            route: 'app_quiz_show',
            param_map: { id: 'id' }
        },
        edit: {
            route: 'app_quiz_edit',
            param_map: { id: 'id' }
        },
        delete: {
            route: 'app_quiz_delete',
            param_map: { id: 'id' }
        },
        add: {route: 'app_quiz_new'}
    }
} %}

</div>
{% endblock %}
