{% extends 'base.html.twig' %}

{% block title %}Edit Mapping{% endblock %}

{% block body %}
    <h1>Edit Mapping</h1>

    {{ include('mapping/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mapping_index') }}">back to list</a>

    {{ include('mapping/_delete_form.html.twig') }}
{% endblock %}
