{% extends 'base.html.twig' %}

{% block title %}New Mapping{% endblock %}

{% block body %}
    <h1>Create new Mapping</h1>

    {{ include('mapping/_form.html.twig') }}

    <a href="{{ path('app_mapping_index') }}">back to list</a>
{% endblock %}
