{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h2 class="section-title">Modifier catégorie</h2>

    {{ include('capture/compose/category/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
