{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h2>Nouvelle catégorie</h2>

    {{ include('capture/compose/category/_form.html.twig') }}

{% endblock %}
