{% extends 'base.html.twig' %}

{% block title %}Détail de la catégorie
{% endblock %}

{% block body %}
	{% include 'global/partials/_page_header.html.twig' with {
    route_return: 'app_category_index',
    title: 'Catégorie :'
    } %}

	<div class="card mb-4">
		<div class="card-body">
			{{ form_start(form) }}
			<fieldset disabled>
				{{ form_row(form.name) }}
			</fieldset>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
