{% extends 'base.html.twig' %}

{% block title %}Edit Flow
{% endblock %}

{% block body %}
	<h1>Edit Flow</h1>

	{{ include('design/flow/_form.html.twig') }}
	{{ include('design/flow/_modal_add_interaction.html.twig') }}

{% endblock %}
