{% extends 'base.html.twig' %}
{% set tutorial = tutorial is defined ? tutorial : null %}
{% block title %}Modifier un questionnaire
{% endblock %}

{% block body %}
	{% include 'partials/_page_header.html.twig' with {
    route_return: 'app_quiz_index',
    title: 'Modifier une quiz'
    } %}

	{{ include('quiz/_form.html.twig') }}
	<div class="mt-4">
		<ul class="nav nav-tabs" id="quizTabs" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="graph-tab" data-bs-toggle="tab" data-bs-target="#graph" type="button" role="tab" aria-controls="graph" aria-selected="true">
					Graphe conditionnel
				</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="questions-tab" data-bs-toggle="tab" data-bs-target="#questions" type="button" role="tab" aria-controls="questions" aria-selected="false">
					Questions
				</button>
			</li>
		</ul>

		<div class="tab-content border border-top-0 p-4" id="quizTabsContent">
			<div class="tab-pane fade show active" id="graph" role="tabpanel" aria-labelledby="graph-tab">
				{% include 'components/graph/_graph.html.twig' with {
        graphData: graphData,
        height: 600
      } %}
			</div>
			<div class="tab-pane fade" id="questions" role="tabpanel" aria-labelledby="questions-tab">
				{% include 'quiz/questions_vertical_cards.html.twig' %}
			</div>
		</div>
	</div>

{% endblock %}
