{% extends 'base.html.twig' %}

{% block title %}Edit Question
{% endblock %}

{% block body %}
	<div class="container my-4">
		{% include 'global/partials/_page_header.html.twig' with {
        title: 'Question'
        } %}

		{% include 'capture/compose/quiz-capture/question/_form.html.twig' with { form: form} %}

	</div>
{% endblock %}
