{% extends 'base.html.twig' %}

{% block title %}Questions
{% endblock %}

{% block body %}
<div class="container my-4">
	{% include 'global/partials/_page_header.html.twig' with {
    route_return: 'app_question_index',
    title: 'Questions :'
    } %}

	{% include 'global/components/table/_table.html.twig' with {
    items: questions,
    columns: ['name', 'content', 'type'],
    headers: ['Nom', 'Intitulé', 'Type'],
    filter: true,
    sort: true,
    actions: {
        show:  {
            route: 'app_question_show',
            param_map: { id: 'id' }
        },
        edit:  {
            route: 'app_question_edit',
            param_map: { id: 'id' }
        },
        delete: {
            route: 'app_question_delete',
            param_map: { id: 'id' }
        },
        add: {
            route: 'app_question_new',
            params: { quizId: 'quiz.id' }
        }
    }
} %} 
</div>
{% endblock %}
