{% extends 'base.html.twig' %}

{% block title %}Edit Role{% endblock %}

{% block body %}
    <h2 class="section-title">Modifier le rôle</h2>

    {{ include('global/role/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
