{% extends 'base.html.twig' %}

{% block title %}New Role{% endblock %}

{% block body %}
    <h2 class="section-title">Nouveau rôle</h2>

    {{ include('global/role/_form.html.twig') }}
{% endblock %}
