{% extends 'base.html.twig' %}

{% block title %}Edit Element{% endblock %}

{% block body %}
    <h1>Edit Element</h1>
    {{ include('design/element/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('design/element/_modal_add_service.html.twig') }}

{% endblock %}
