{% extends 'base.html.twig' %}

{% block title %}Captures
{% endblock %}

{% block body %}
<div class="container my-4">
	{% include 'global/partials/_page_header.html.twig' with {
    title: 'Captures :'
    } %}

	{% include 'global/components/table/_table.html.twig' with {
    items: captures,
    columns: ['name', 'description'],
    headers: ['Nom', 'Description'],
    filter:true,
    sort:true,
    show:true,
    edit:true,
    delete:true,
    add:true,
    base_route: 'app_capture'
    } %}
</div>
{% endblock %}
